header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100vw;
  text-transform: uppercase;

}

header:after {
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    bottom: 0;
  content: "";
    left: 0;
  position: absolute;
    right: 0;
    top: 0;
}


.row {
  display: flex;
}

.heading {
    bottom: 10vh;
  color: white;
  font-size: 9em;
    left: 0;
  line-height: 1;
  margin: 0;
  position: absolute;
    right: 0;
  text-align: center;
}

.content {
  position: relative;
}

.content p {
  transform: translateZ(0);
  z-index: 10;
}

.floating-rocks {
  position: absolute;
}

.front-one {
  right: -10em;
}

.front-two {
  left: -12em;
}

.back-one {
  left: -4em;
  opacity: .2;
  z-index: 0;
}

.back-two {
  opacity: .1;
  right: -20em;
  z-index: 0;
}

footer {
  background: url(../images/moon2.jpg) top center no-repeat;
  opacity: 40%;
  background-size: cover;
  height: 1014px;
  position: relative;
}

footer .heading {
  bottom: auto;
  color: rgb(51, 47, 47);
  top: 42%;
  text-shadow: rgb(228, 221, 193) 3px 0 10px;}

.overflow{
  height: 400px;
  width: 100%;
  background: linear-gradient(360deg, rgba(9,136,155,0.5354516806722689) 0%, rgba(0,0,0,1) 85%);
  margin: 0;
}